<% layout('/layouts/boilerplate') %>

<body>
  <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" enctype="multipart/form-data">
    <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center">Edit Listing</h1>
      <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input id="title" name="listing[title]" type="text" class="form-control" placeholder="Title" value="<%=listing.title  %>" required />
      </div>
      
       <div class="mb-3">
        <img src="<%= listing.image.url %>" style="width: 200px; height: 150px;">
       </div>

      <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" name="listing[description]" class="form-control" placeholder="Description" required><%=listing.description  %></textarea>
      </div>
   
      <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input id="price" name="listing[price]" type="number" class="form-control" placeholder="Price" value="<%=listing.price  %>" required />
      </div>

      <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input id="country" name="listing[country]" type="text" class="form-control" placeholder="Country" value="<%=listing.country %>" required />
      </div>

      <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input id="location" name="listing[location]" type="text" class="form-control" placeholder="Location" value="<%=listing.location  %>" required />
      </div>


     <div class="mb-3">
        <label for="img" class="form-label">Upload Image</label>
        <input name="listing[image]" type="file" placeholder="URL" class="form-control" />
      </div>

      
       <div class="mb-3">
       <div class="mb-3 flex">
  <div class="form-check">
     <input class="form-check-input" type="radio" name="listing[category]" id="Rooms" value="Rooms" checked>
    <label class="form-check-label" for="iconicCities">Rooms</label>
    <br>
    <input class="form-check-input" type="radio" name="listing[category]" id="iconicCities" value="Iconic Cities" checked>
    <label class="form-check-label" for="iconicCities">Iconic Cities</label>
    <br>
    <input class="form-check-input" type="radio" name="listing[category]" id="mountains" value="Mountains">
    <label class="form-check-label" for="mountains">Mountains</label>
    <br>
    <input class="form-check-input" type="radio" name="listing[category]" id="castles" value="Castles">
    <label class="form-check-label" for="castles">Castles</label>
    <br>
    <input class="form-check-input" type="radio" name="listing[category]" id="arctic" value="Arctic">
    <label class="form-check-label" for="arctic">Arctic</label>
     <br>
    <input class="form-check-input" type="radio" name="listing[category]" id="SwimmingPool" value="Swimming Pool">
    <label class="form-check-label" for="Swimming Pool">
  Swimming Pool</label>
   <br>
    <input class="form-check-input" type="radio" name="listing[category]" id="Tents" value="Tents">
    <label class="form-check-label" for="Tents">
  Tents</label>
  <br>
  <input class="form-check-input" type="radio" name="listing[category]" id="Dome" value="Dome">
    <label class="form-check-label" for="Dome">
  Dome</label>
  </div>
</div>


      <button type="submit" class="btn btn-secondary">Edit</button>
    </div>
    </div>
  </form>
</body>
